.container{
    position: sticky;
    top: 0;
    z-index: 99;
    .header{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: tomato;
        z-index: 9999999;
    }
    .logo{
        padding: 10px;
        a{
            color: tomato;
        }
    }
    .nav{
        z-index: 999999;
        background: white;
        max-width: 100%;
        min-height: 350px;
        position: fixed;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: -80vh;
        transition: top .7s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .tab{
            white-space: nowrap;
            cursor: pointer;
            text-align: center;
            color: black;
            width: 0;
            overflow: hidden;
            transition-property: opacity;
            transition-duration: 1s;
            transition-timing-function: ease-in;
            font-size: 24px;
            margin-bottom: 1rem;
            &:hover{
                color: tomato;
            }
        }
        .cloud{
            position: absolute; 
            right: 0; 
            bottom: -280px;
            width: 100%;
            z-index: -1;
            svg{
                width: 100%;
                height: 100%;
            }  
        }
    }
}


@media (min-width: 820px) {

}