.text_container{
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    .flex{
        width: 100%;
        z-index: 90;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 24px;
        color: black;
        >div{
            text-align: center;
        }
    }
}

.animation_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    position: relative;
    overflow: hidden;
    .wrapper {
        z-index: 9;
        .scroll_1{
            position: absolute; 
            right: 10.8%; 
            bottom: -8rem;
            width: 14%;
            height: 100%;
            z-index: 3;
            svg{
                width: 100%;
                height: 100%;
            }   
        }
        .scroll_2{
            position: absolute; 
            left: 0; 
            right: 0; 
            bottom: -9rem;
            margin-left: auto; 
            margin-right: auto; 
            width: 100%;
            height: 100%;
            z-index: 1;
            img{
                width: 100%;
            }   
        }
        .scroll_3{
            position: absolute; 
            right: 0; 
            bottom: -1rem;
            width: 100%;
            z-index: 2;
            svg{
                width: 100%;
                height: 100%;
            }   
        }
      }
  }
  

@media (min-width: 820px) {
    .text_container{
        .flex{
            font-size: 64px;
        }
    }
    .animation_container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1200px;
        position: relative;
        overflow: hidden;
        .wrapper {
            z-index: 9;
            .scroll_1{
                position: absolute; 
                right: 10.8%; 
                bottom: -15rem;
                width: 14%;
                height: 100%;
                z-index: 3;
                svg{
                    width: 100%;
                    height: 100%;
                }   
            }
            .scroll_2{
                position: absolute; 
                left: 0; 
                right: 0; 
                bottom: -14rem;
                margin-left: auto; 
                margin-right: auto; 
                width: 100%;
                height: 100%;
                z-index: 1;
                img{
                    width: 100%;
                }   
            }
            .scroll_3{
                position: absolute; 
                right: 0; 
                bottom: -2rem;
                width: 100%;
                z-index: 2;
                svg{
                    width: 100%;
                    height: 100%;
                }   
            }
          }
      }
}